.about nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: rgb(3, 41, 46);
}
.about-Us{ 
    padding: 10%;
}
.about-Us h1{
    font-size: 4rem;
    text-align: justify;
    margin-bottom: 20px;
    color:rgb(3, 41, 46);
    font-family: 'dm serif text', serif;
    margin-left: 2%;
    text-transform: capitalize;
}
.about-Us img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    float: left;
}
.about-Us p{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    font-family: 'merriweather', serif;
    text-align: justify;
    margin-right: 10%;
}

.sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsors h3{
    font-size: 3.5rem;
    font-family: 'dm serif text', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: rgb(3, 41, 46);
}
.sponsor img{
    width: 200px;
    height: auto;
}

@media (max-width: 768px){
    .about-Us{
        padding-top: 30%;
    }
    .about-Us img{
        width: 150px;
        height: auto;
    }

    .sponsor{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}